<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand col-12 col-md-2" href="{%url 'main:my_index' %}">Test App</a>
            <a class="nav-link active col-12 col-md-2" 
            {% if request.session.user_level == 9 %}href="{%url 'dashboard:my_admin_dashboard' %}"{% endif %}
            {% if request.session.user_level == 1 %}href="{%url 'dashboard:my_dashboard' %}"{% endif %}
            >Dashboard</a>
            <a class="nav-link col-12 col-md-6" href="{%url 'users:my_edit' id=request.session.id %}">Profile</a>
            <a class="nav-link" href="{%url 'main:my_logoff' %}">Log Off</a>
        </nav>