<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add a New User</title>
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand col-12 col-md-2" href="{%url 'main:my_index' %}">Test App</a>
            <a class="nav-link active col-12 col-md-2" 
            {% if request.session.user_level == 9 %}href="{%url 'dashboard:my_admin_dashboard' %}"{% endif %}
            {% if request.session.user_level == 1 %}href="{%url 'dashboard:my_dashboard' %}"{% endif %}
            >Dashboard</a>
            <a class="nav-link col-12 col-md-6" href="{%url 'users:my_edit' id=request.session.id %}">Profile</a>
            <a class="nav-link" href="{%url 'main:my_logoff' %}">Log Off</a>
        </nav>

        <div class="row">
            <div class="col-md-10">
                <h1>Add a New User</h1>
            </div>
            <div >
                <a class="btn btn-primary btn-sm" href="{%url 'dashboard:my_admin_dashboard' %}">Return to Dashboard</a>
            </div>
        </div>

        {% if messages %}
        <div id="errors">
            <ul class="messages">
                {% for message in messages %}
                    {% if "reg error" in message.tags %}
                    <li  class="text-danger">
                    {{ message }}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="{%url 'users:my_create' %}" method="post">

            {% csrf_token %}

            <div class="form-group row">
                <label for="first_name" class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="first_name" placeholder="Enter user's first name">
                </div>
            </div>

            <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="last_name" placeholder="Enter user's last name">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email address:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" placeholder="Enter user's email">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" aria-describedby="pwdHelp" placeholder="Enter user's password">
                    <small id="pwdHelp" class="form-text text-muted">Passwords must be at least 8 characters long.</small>
                </div>
            </div>

            <div class="form-group row">
                <label for="confirm_password" class="col-sm-2 col-form-label">Password Confirmation:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm user's password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-success">Add User</button>

        </form>
 

        <hr>
        
        <footer>
            <p>&copy; Kalkulations 2018</p>
        </footer>
    </div>

<!-- Optional JavaScript for bootstrap would go here-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>